#div1{
    position: relative;
    width: 150px;
    height:180px;
    background-color: blue;
    border: 5px solid red;
    text-align: center;
    float: left; /* "encaixa o componente a esquerda do proximo*/
}
#div2{
    position: relative;
    width: 150px;
    height:180px;
    background-color: rgb(85, 255, 0);
    border: 5px solid rgb(235, 247, 6);
    text-align: center;
    float: left;
}
#div3{
    position: relative;
    width: 150px;
    height:180px;
    background-color: rgb(255, 0, 0);
    border: 5px solid rgb(170, 0, 255);
    text-align: center;
    clear: left; /*quebra a sequencia de float*/
}